* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.tabContent {
  width: 80%;
  margin: auto;
}

.tabContent--header {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.second-tabContent {
  width: 98%;
  margin: auto;
  padding-bottom: 3rem;
}

.second-tabContent--header {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.tabOne-text {
  margin-top: 2rem;
}

.text-bold {
  font-weight: 900;
}

.tbl-content {
  margin-bottom: 3rem;
}

.tbl-content--tbl {
  width: 90%;
  margin: auto;
}

.txtbox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.txtbox1--label {
  margin-right: 50px;
  font-weight: 700;
  padding: 10px 5px;
  width: 10%;
}

.txtbox1--txtfield {
  margin-top: 3rem;
  width: 80%;
  padding: 10px 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.txtbox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.txtbox2--label {
  margin-right: 50px;
  font-weight: 700;
  padding: 5px 5px;
  width: 10%;
}

.txtbox2--radio-btn {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.txtbox2 .radio {
  font-weight: 700;
}

.tbl-btn-grp {
  text-align: center;
  padding: 3rem 0;
}

.tbl-btn-grp--csv-button {
  padding: 1.5rem 5rem;
  height: 50px;
  min-width: 25%;
  background-color: #5767bc;
  color: white;
  border-style: none;
  cursor: pointer;
  text-decoration: none;
}

.tbl-btn-grp--add-button {
  padding: 1.5rem 5rem;
  min-width: 25%;
  height: 50px;
  background-color: #5cbec1;
  color: white;
  border-style: none;
  cursor: pointer;
  text-decoration: none;
  margin-right: 12px;
}

.prod-table {
  margin: 30px 0;
}

.rename-form {
  margin-bottom: 30px;
}

.header-table {
  list-style-type: none;
}

.header-table--list {
  list-style-type: none;
  padding: auto;
}

.header-table--list .table-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #e6e6e6;
  margin: 5px 0;
  border-radius: 5px;
  height: inherit;
}

.header-table--list .table-card--row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  width: 50%;
}

.header-table--list .table-card--row .header-name {
  display: block;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 14px;
  width: 100%;
}

.header-table--list .table-card--row .header-input {
  width: 95%;
  height: 4rem;
  border: none;
  margin: 5px auto;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
}

.delete-header {
  cursor: pointer;
  border: none;
  background-color: #e6e6e6;
  padding-right: 10px;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */