.tbl-content {
  margin-bottom: 3rem;

  &--tbl {
    width: 90%;
    margin: auto;
  }
}

.txtbox1 {
  display: flex;

  &--label {
    margin-right: 50px;
    font-weight: 700;
    padding: 10px 5px;
    width: 10%;
  }

  &--txtfield {
    margin-top: 3rem;
    width: 80%;
    padding: 10px 5px;
    border: 1px solid gray;
    border-radius: 5px;
  }
}
.txtbox2 {
  display: flex;
  margin-top: 16px;

  &--label {
    margin-right: 50px;
    font-weight: 700;
    padding: 5px 5px;
    width: 10%;
  }

  &--radio-btn {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .radio {
    font-weight: 700;
  }
}
.tbl-btn-grp {
  text-align: center;
  padding: 3rem 0;

  &--csv-button {
    padding: 1.5rem 5rem;
    height: 50px;
    min-width: 25%;
    background-color: #5767bc;
    color: white;
    border-style: none;
    cursor: pointer;
    text-decoration: none;
  }
  &--add-button {
    padding: 1.5rem 5rem;
    min-width: 25%;
    height: 50px;
    background-color: #5cbec1;
    color: white;
    border-style: none;
    cursor: pointer;
    text-decoration: none;
    margin-right: 12px;
  }
}
.prod-table {
  margin: 30px 0;
}
.rename-form {
  margin-bottom: 30px;
}
.header-table {
  list-style-type: none;

  &--list {
    list-style-type: none;
    padding: auto;

    .table-card {
      display: flex;
      justify-content: space-evenly;
      background-color: #e6e6e6;
      margin: 5px 0;
      border-radius: 5px;
      height: inherit;

      &--row {
        justify-content: center;
        height: 5rem;
        width: 50%;

        .header-name {
          display: block;
          font-weight: 700;
          margin-top: 15px;
          margin-left: 20px;
          font-size: 14px;
          width: 100%;
        }
        .header-input {
          width: 95%;
          height: 4rem;
          border: none;
          margin: 5px auto;
          border-radius: 5px;
          padding: 10px 20px;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.delete-header {
  cursor: pointer;
  border: none;
  background-color: #e6e6e6;
  padding-right: 10px;
  border-radius: 5px;
}
