.second-tabContent {
  width: 98%;
  margin: auto;
  padding-bottom: 3rem;

  &--header {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

.tabOne-text {
  margin-top: 2rem;
}

.text-bold {
  font-weight: 900;
}
